@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

@media screen and (min-width: 768px) {

    main {
        display: flex;

        .base {
            width: 60%;
            height: 100vh;
            background-image: url("/images/bg-pattern-desktop.svg");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;


            .apparel {
                // border: olive 1px solid;
                width: 60%;
                height: 80%;

                img {
                    min-width: 90%;
                    height: auto;
                }

                .text1 {
                    font-family: 'Josefin Sans', sans-serif;
                    font-size: 7rem;
                    line-height: 90px;
                    letter-spacing: 2rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: hsl(0, 6%, 24%);

                    span {
                        font-size: 8rem;
                        color: hsl(0, 36%, 70%);
                        font-weight: 300;
                    }
                }

                .text2 {
                    margin-top: 5%;
                    font-family: 'Josefin Sans', sans-serif;
                    color: hsl(0, 36%, 70%);
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 3rem;
                }

                input {
                    width: 100%;
                    height: 60px;
                    border-radius: 40px;
                }
            }
        }

        .photo {
            width: 40%;
            height: 100vh;
            background-image: url("/images/hero-desktop.jpg");
            background-repeat: no-repeat;
            background-size: cover;

        }
    }
}

@media screen and (max-width: 768px) {

    main {

        .base {

                .apparel {

                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    display: none;
                }

                .text1 {
                    font-family: 'Josefin Sans', sans-serif;
                    font-size: 4rem;
                    line-height: 50px;
                    letter-spacing: 2rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: hsl(0, 6%, 24%);
                    text-align: center;

                    span {
                        font-size: 4rem;
                        color: hsl(0, 36%, 70%);
                        font-weight: 300;
                        
                    }
                }

                .text2 {
                    margin: 6% 8% 0% 8%;
                    font-family: 'Josefin Sans', sans-serif;
                    color: hsl(0, 36%, 70%);
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 3rem;
                    text-align: center;
                    letter-spacing: 1px;
                }

                input {
                    margin-top: 5%;
                    width: 70%;
                    height: 50px;
                    border-radius: 40px;
                }
            }
        }

         .photo {
             width: 100%;
             height: 80%;
             background-image: url("/images/hero-mobile.jpg");
             background-repeat: no-repeat;
             background-size: cover;

         }
    }

}